extends ../_templates/layout.pug

block peasisu
    div.syndmus-sisu
        h2 #[strong= self.pealkiri]
        if self.asukoht
            p #[u #{self.asukoht + "."}]
        else
            span
        if self.sisu
            p !{ self.md(self.sisu) }
        else
            if self.kontserdi_kava
                p !{ self.md(self.kontserdi_kava) }
            if self.registreerimisinfo
                p !{ self.md(self.registreerimisinfo) }
            if self.ajakava
                p !{ self.md(self.ajakava) }