extends ../_templates/layout.pug

block peasisu

    h2(style="text-align:center")
        strong= self.ESL_title
    div.joondus-keskele-kompaktne
        each aasta_syndmused, id in self.ESL_syndmused
            h3= id
            each syndmus, id in aasta_syndmused
                p
                    span= syndmus.aeg
                    br.reavahetus-kompaktne
                    span &nbsp;-&nbsp;
                    br.reavahetus-kompaktne
                    if syndmus.path
                        a(href=syndmus.path) #[strong= syndmus.pealkiri + " " + syndmus.asukoht]
                    else
                        strong= syndmus.pealkiri + " " + syndmus.asukoht

    br
    //- h2(style="text-align:center")
    //-     strong= self.liikmeskoorid_title
    //- hdiv.joondus-keskele-kompaktne
    //-     each aasta_syndmused, id in self.liikmeskooride_syndmused
    //-         h3= id
    //-         each syndmus, id in aasta_syndmused
    //-             p
    //-                 span= syndmus.aeg
    //-                 br.reavahetus-kompaktne
    //-                 span &nbsp;-&nbsp;
    //-                 br.reavahetus-kompaktne
    //-                 if syndmus.path
    //-                     a(href=syndmus.path) #[strong= syndmus.pealkiri + " " + syndmus.asukoht]
    //-                 else
    //-                     strong= syndmus.pealkiri + " " + syndmus.asukoht